doctype html
html
  head
    title= MathChef
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    block head
  body(class=bodyClass)
    .navbar
      .container
        .nabar-header
    block content
    script(src='/js/zepto.min.js')
    script(src='/js/underscore.js')
    block js